<h1>User "<%= @user.name %>"</h1>

<% if @user.has_mfa? %>
  <div class="card mb-3">
    <div class="card-header">
      <h3 class="card-title mb-0">MFA Info</h3>
    </div>
    <div class="card-body">
      <dl class="row">
        <dt class="col-3">MFA Secret</dt>
        <dd class="col-9"><%= @user.mfa_secret %></dd>
        <dt class="col-3">MFA Provisioning URL</dt>
        <dd class="col-9"><%= @user.mfa_url %></dd>
      </dl>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col text-center">
          <h4>Scan this QR Code</h4>
          <%= user_mfa_qrcode(@user) %>
        </div>

        <div class="col">
          <h4 class="text-center">Also save these tokens</h4>
          <ul>
            <% @user.nonce_tokens.each do |nonce_token| %>
              <% if nonce_token.used? %>
                <li class="text-muted">
                  <del><%= nonce_token.token %></del> (used)
                </li>
              <% else %>
                <li><%= nonce_token.token %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div class="card card-body d-block">
  <% if @user.has_mfa? %>
    <%= link_to 'Remove MFA token', user_mfa_path(@user), method: :delete,
                class: 'btn btn-warning' %>
  <% else %>
    <%= link_to 'Create MFA token', user_mfa_path(@user), method: :post,
                class: 'btn btn-primary' %>
  <% end %>

  <%= link_to 'Back', users_path, class: 'btn btn-secondary' %>
  <%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-success' %>
  <%= link_to 'Destroy', @user, method: :delete,
              data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
</div>
